// app global css in SCSS form
@import "../assets/fonts/luckiest-guy/luckiest-guy.css";
//@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
.pointer {
  cursor: pointer;
}


body {
  font-family: "LuckiestGuy", serif;
  color: $dark_red;
  background: $green;
}
